/node_modules
/out
.DS_Store
.env
.test.env

data.json
teachers.json
*.xlsx
/bin/excel/*
!**/stubs/*.xlsx
events-untis*.json
teachers-untis*.json
yarn-error.log
.vscode
/dist
dokku.sh
uploads/
!tests/test-data/uploads/
ical/de/*.ics
ical/fr/*.ics
**.example.sql
docs/prisma/**/*
**/helpers/*.pdf
/coverage.*
/dist
/logs
*.data.json
static/